.main-container{
  background: beige;
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

h1{
  color:black;
  font-size: 70px;
  text-align: center;
  text-shadow: 1px 1px 10px #fff;
}